@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
        scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;
    font-family: "Open Sans", sans-serif;
}






/*Configurações do header*/

header{ /*Configurações da caixa que emgloba todo o cabeçalho*/
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header:hover{ /*Configuração de animações do cabeçalho para quando o mouse está em cima*/
    box-shadow: 0px -5px 10px 10px #C78600;
    transition: all 1s;
}

nav{ /*Caixa que envolve todo o menu de navegação*/
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
    margin-top: 20px;
    gap: 10%;
}

nav a{ /*Configurações dos links do Nav*/
    color: white;
    font-size: 25px;
    padding: 5px;
}

nav a:hover{ /*Configurações de animação das âncoras do nav para quando o mouse esta em cima*/
    color: #865a00;
    cursor: pointer;
    transition: all 0.5s;
}

.logoImagem{ /*Configurações da Logo no Header*/
    flex-grow: 1;
    width: 150px;
    margin: 20px 100px 20px 20px;
}

.whatsapp{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsappImagem{ /*Configurações do icone do whatsapp presewnte no cabeçalho*/
    flex-grow: 1;
    width: 70px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
}












/*Configurações da seção de apresentação */

.secaoApresentaçao{ /*Configurações da caixa que engloba toda a seção de apresentação*/
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Imagens/Vianna-Diamond-Banner.webp);
    background-size: cover;
    background-position: center;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloApresentaçao{ /*Configurações do Texto maior da seção de apresentação*/
    font-size: 70px;   
    flex-wrap: wrap; 
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.descriçaoApresentaçao{ /*Configurações do texto menor da seção de apresentação*/
    color: rgb(235, 235, 235);
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

.linksApresentaçao{ /*Configurações da caixa que engloba os dois links da apresentação*/
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin-top: 70px;
}

.orcamentoApresentaçao{
    background-color: #ffbb33;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 40px;
    flex-grow: 1;
    transition: all 0.5s;}

.orcamentoApresentaçao:hover{
    background-color: #ffaa00;
    color: white;
    border: solid white 2px;
}

.produtos{
    background-color: silver;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 40px;
    flex-grow: 1;
    transition: all 0.5s;
}

.produtos:hover{
    background-color: #000000;
    color: white;
    border: solid white 2px;
}